In [19]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from os import listdir
from os.path import isfile, join
import requests
import datetime
import time

In [20]:
# load csv files collected from data-world
raleigh_crime = "Resources/RaleighPoliceIncidents.csv"
durham_crime = "Resources/city-of-durham-police-crime-reports_4.xlsx"
ch_crime = "Resources/unc-police-data.csv"
cary_crime = "Resources/crime-mapping_jr.csv"

In [28]:
#put csv files into dataframes
df_raleigh_crime = pd.read_csv(raleigh_crime)
df_raleigh_crime.head()
df_raleigh_crime["reported_date"] = pd.to_datetime(df_raleigh_crime["reported_date"])

df_raleigh_crime.head()
df_raleigh_crime.dtypes

OBJECTID                           int64
GlobalID                          object
case_number                       object
crime_category                    object
crime_code                        object
crime_description                 object
crime_type                        object
reported_block_address            object
city_of_incident                  object
city                              object
district                          object
reported_date             datetime64[ns]
reported_year                      int64
reported_month                     int64
reported_day                       int64
reported_hour                      int64
reported_dayofwk                  object
latitude                         float64
longitude                        float64
agency                            object
updated_date                      object
dtype: object

In [16]:
df_durham_crime = pd.read_excel(durham_crime) 
df_durham_crime.head()
df_durham_crime = pd.to_datetime(df_durham_crime["hour_rept"])
df_durham_crime.head()

0   2013-01-03
1   2013-01-02
2   2013-01-03
3   2013-01-01
4   2013-01-02
Name: hour_rept, dtype: datetime64[ns]

In [14]:
df_ch_crime = pd.read_csv(ch_crime)
df_ch_crime.head()

,incident,date-time,year,date-no year,location,res hall,alcohol
0,NaN,1/1/13 0:00,2013,01/01,E FRANKLIN ST,NaN,NaN
1,EMS ASSIST,1/1/13 2:25,2013,01/01,AYCOCK CIRCLE PARKING LOT UNC,NaN,NaN
2,SUSPICIOUS CONDITION (NON-CRIMINAL),1/1/13 2:49,2013,01/01,S COLUMBIA ST/E CAMERON AVE,NaN,NaN
3,EMS ASSIST,1/1/14 12:25,2014,01/01,FINLEY CLUB HOUSE UNC,NaN,NaN
4,WELL-BEING CHECK,1/1/14 20:17,2014,01/01,CRAIGE RES HALL UNC,RES HALL,NaN

In [15]:
df_cary_crime = pd.read_csv(cary_crime)
df_cary_crime.head()

,crime_category,crime_type,chrgcnt,ucr,district,beat_number,map_reference,incident_number,time_from,time_to,...,phxrecordstatus,phxcommunity,phxstatus,record,offensecategory,violentproperty,domestic,location,radio,street
0,ALL OTHER,ALL OTHER - BLACKMAIL/ EXTORTION,NaN,2630.0,D1,114.0,P026,17000426.0,0001-01-01 03:40:00+00:00,0001-01-01 04:47:00+00:00,...,NaN,No,NaN,3011.0,All Other Offenses,All Other,N,35.788671414; -78.79625675,Everything,NaN
1,ALL OTHER,ALL OTHER - BLACKMAIL/ EXTORTION,NaN,2630.0,D3,118.0,P004,16009674.0,0001-01-01 11:53:00+00:00,0001-01-01 15:15:00+00:00,...,Suspende,Yes,Active,3019.0,All Other Offenses,All Other,N,35.741041415; -78.75461019,Everything,NaN
2,ALL OTHER,ALL OTHER - ESCAPE FROM CUSTODY OR RESIST ARREST,NaN,2650.0,D1,111.0,P024,17006197.0,0001-01-01 23:24:00+00:00,0001-01-01 23:24:00+00:00,...,NaN,No,NaN,3101.0,All Other Offenses,All Other,N,35.802211609; -78.78662602,Everything,NaN
3,ALL OTHER,ALL OTHER - ESCAPE FROM CUSTODY OR RESIST ARREST,NaN,2650.0,D1,113.0,P060,17008206.0,0001-01-01 14:45:00+00:00,0001-01-01 14:45:00+00:00,...,NaN,No,NaN,3198.0,All Other Offenses,All Other,N,35.788318078; -78.78256802,Everything,NaN
4,ALL OTHER,ALL OTHER - ESCAPE FROM CUSTODY OR RESIST ARREST,NaN,2650.0,D1,114.0,P026,16009915.0,0001-01-01 05:02:00+00:00,0001-01-01 05:02:00+00:00,...,NaN,No,NaN,3213.0,All Other Offenses,All Other,N,35.791369365; -78.78357141,Everything,NaN